<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="" method="POST">
      <label for="secretMessage">Enter the secret message:</label>
      <input type="text" name="secretMessage" id="secretMessage" required />
      <button type="submit">Submit</button>
      <%- include("./partials/errors.ejs") %>
    </form>
  </body>
</html>
